body{
    margin: 20px;
}

button{
    margin: 10px;
}

label{
    padding: 10px;
}

#previewTableDiv{
    margin-bottom: 3em;
}

#previewTable{
    display: inline-table
}

/* updateRenameTableOutput */

/* handleNewColumnNameInput */
#list-of-prerequisites{
    display: inline-block;
}

#list-of-prerequisites > li{
    text-align: left;
}

.help-button{
    size: 5px;
}

#dstOnlyFormGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
