body{
    margin: 20px;
}

button{
    margin: 10px;
}

label{
    padding: 10px;
}

#previewTableDiv{
    margin-bottom: 3em;
}

#previewTable{
    display: inline-table
}

/* updateRenameTableOutput */

/* handleNewColumnNameInput */