html, body {
    margin: 0;
    padding: 0;
}

#app-container{
    margin: 2%;
}

form{
    border: 1px solid black;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.input-unit {
    margin: 10px;
}